@charset "UTF-8";


    @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');


    :root {
        --fonte01: "Verdana, Geneva, Tahoma, sans-serif";
        --fonte02: "Rakkas";
        --fonte03: "Playpen Sans";
    }



* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    
}

header {
    background-color: black;
    background-image: url("https://img.freepik.com/free-vector/dark-black-background-design-with-stripes_1017-38064.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1712275200&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte02);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3em;

}

header p {
    font-family: var(--fonte03);
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section {
    font-family: var(--fonte03);
    font-size: 1.2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.226);
    display: inline-block;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}